<main>
    <div class="movies-all">
        <div class="container">
            <div class="row">
                <div class="search-side">
                    <figure>
                        <svg width="32" height="32" xmlns="http://www.w3.org/2000/svg"><path d="M27.613 25.72 23.08 21.2a10.56 10.56 0 0 0 2.253-6.533C25.333 8.776 20.558 4 14.667 4S4 8.776 4 14.667c0 5.89 4.776 10.666 10.667 10.666A10.56 10.56 0 0 0 21.2 23.08l4.52 4.533a1.333 1.333 0 0 0 1.893 0 1.333 1.333 0 0 0 0-1.893ZM6.667 14.667a8 8 0 1 1 16 0 8 8 0 0 1-16 0Z" fill="#FFF"/></svg>
                    </figure>
                    <input #search (input)="updateSearch(search.value)" [placeholder]="placeholder" type="text" name="" id="">
                </div>
        
                <section class='trending' *ngIf="!showFiltered">
                    <h1>Trending</h1>
                    <div class='trending-movies'>
                        <div class='movie' *ngFor='let trendingMovie of trendingVideos'>
                            <img src='{{trendingMovie.thumbnail.trending.large}}' alt="">

                            <ul class='sub-info'>
                                <li>{{trendingMovie.year}}</li>
                                <li>{{trendingMovie.category}}</li>
                                <li>{{trendingMovie.rating}}</li>
                            </ul>

                            <h3 class='movie-name'>{{trendingMovie.title}}</h3>

                            <app-bookmark></app-bookmark>
                        </div>
                    </div>
            </section>

                <section class="recommend"  *ngIf="!showFiltered">
                    <h1>Recommend for you</h1>
                    <div class="recommended-movies">
                        <div class='movie' *ngFor='let movie of recommendedVideos'>
                            <img src='{{movie.thumbnail.regular.large}}' alt="">

                            <ul class='sub-info'>
                                <li>{{movie.year}}</li>
                                <li>{{movie.category}}</li>
                                <li>{{movie.rating}}</li>
                            </ul>

                            <h3 class='movie-name'>{{movie.title}}</h3>
                            
                            <app-bookmark></app-bookmark>
                        </div>
                    </div>
                </section>

                <section class="recommend" *ngIf="showFiltered">
                    <h1>Found {{filteredVideos.length}} result for '{{searched}}'</h1>
                    <div class="recommended-movies">
                        <div class='movie' *ngFor='let movie of filteredVideos'>
                            <img src='{{movie.thumbnail.regular.large}}' alt="">

                            <ul class='sub-info'>
                                <li>{{movie.year}}</li>
                                <li>{{movie.category}}</li>
                                <li>{{movie.rating}}</li>
                            </ul>

                            <h3 class='movie-name'>{{movie.title}}</h3>
                            
                            <app-bookmark></app-bookmark>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>